<table style="background-color: rgb(108, 110, 239);">
  <thead>
    <tr>
      <th
        style="padding: 1rem; font-size: 1.5rem;border: 1px solid black;"
      >ID</th>
      <th
        style="padding: 1rem; font-size: 1.5rem;border: 1px solid black;"
      >Title</th>
      <th
        style="padding: 1rem; font-size: 1.5rem;border: 1px solid black;"
      >Description</th>
      <th
        style="padding: 1rem; font-size: 1.5rem;border: 1px solid black;"
      >Price</th>
      <th
        style="padding: 1rem; font-size: 1.5rem;border: 1px solid black;"
      >Stock</th>
      <th
        style="padding: 1rem; font-size: 1.5rem;border: 1px solid black;"
      >Code</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr style="text-align: center;">
        <td style="padding: 0.7rem; border: 1px solid black;">{{_id}}</td>
        <td style="padding: 0.7rem;border: 1px solid black;">{{title}}</td>
        <td
          style="padding: 0.7rem;border: 1px solid black;"
        >{{description}}</td>
        <td style="padding: 0.7rem;border: 1px solid black;">${{price}}</td>
        <td style="padding: 0.7rem;border: 1px solid black;">{{stock}}</td>
        <td style="padding: 0.7rem;border: 1px solid black;">{{code}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>